.criminal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.criminal-card {
  border: 1px dotted;
  padding: 1em;
  margin: 1em;
  width: 15vw;
  height: 20em;
}

.officer-card {
  border: 1px dotted;
  padding: 1em;
  margin: 1em;
  width: 15vw;
  height: 7em;
}

.officer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.facility-card {
  border: 1px dotted;
  padding: 1em;
  margin: 1em;
  width: 15vw;
  height: 12em;
}

.facilities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dark-background {
  background-color: #2b362e;
  color: #fafcfb;
}


